.Detect {
  height: 100%;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Detect form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Detect form + p {
  margin-top: 10px;
  font-size: smaller;
}
.Detect-results {
  padding: 15px 0;
  height: 90%;
}
.Detect-results h5 {
  font-size: 2rem;
  margin: 20px 10px;
}
.Detect-results ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-height: 70%;
  overflow: scroll;
}
.Detect-results ul li {
  list-style-type: none;
  width: calc(50% - 20px);
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
}
.error {
  margin-top: 30px;
  font-size: x-large;
  font-weight: semi-bold;
}
